<br />
<div class="miContainer">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">TITULO DE PELICULAS</label>
            <input type="email" class="form-control bg-light" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Coloca el titulo de la pelicula en español</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">SYNOPSIS</label>
            <input type="password" class="form-control bg-light" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">AÑO DE PUBLICACIÓN</label>
            <input type="password" class="form-control bg-light" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">COVER DE PELICULA</label>
            <input type="password" class="form-control bg-light" id="exampleInputPassword1">
        </div>
        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>


