<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">#ID </th>
            <th scope="col">TITLE</th>
            <th scope="col">SYNOPSIS</th>
            <th scope="col">YEAR</th>
            <th scope="col">COVER</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>1966</td>
            <td>@fat </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Lorem, ipsum.</td>
            <td>1880</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Marie</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>1990</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Johon</td>
            <td>Lorem.</td>
            <td>3020</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Israe</td>
            <td>Lorem, ipsum.</td>
            <td>1680</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Sack</td>
            <td>Lorem ipsum dolor, sit amet consectetur adipisicing.</td>
            <td>2530</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Michael</td>
            <td>Lorem ipsum dolor sit amet consectetur.</td>
            <td>2000</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Dali</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>1988</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Samuel</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>1980</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Jacob</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>2020</td>
            <td>@fat</td>
        </tr>
        
    </tbody>
</table>
